<div class="prepaid-certification-section">
    <div data-src="assets/image/prepaidcertification.jpg" class="prepaidCertification-img asyncImage"></div>
    <div class="container">
        <div class="row prepaid-certification-content">
            <div class="col-12">
                <div>
                    <b>Pre-Paid Certification</b>
                    Your Skillsgrow Certificate is formal recognition of your learning. Once you become a Skillsgrow
                    Graduate you can choose to purchase your officially branded and security marked Certificate.
                    Skillsgrow
                    Certificates can be co-branded. We offer a tailored solution where certificates may be purchased in
                    bulk, in advance at a discounted rate.
                    Skillsgrow offer the opportunity to pre-pay for physical Certificates which encourages:
                    <ul>
                        <li>Learner completion rates</li>
                        <li>Provides a sense of achievement</li>
                        <li>The opportunity to have a presentation ceremony</li>
                    </ul>
                    <b>Need more information?</b>
                    If you have any further question, please contact our Business Enterprise Team on
                    <b>admin@skillsgrow.com</b>
                </div>
            </div>
        </div>
    </div>
</div>