<div class="container-fluid">
  <div class="row our-story">
    <div class="col-sm-6 text-center">
      <h3>OUR STORY</h3>
    </div>
    <div class="col-sm-6 text-justify">
      <p>Skillsgrow is one of India’s largest free learning platforms for education and skills training. It is a
        for-profit
        social enterprise dedicated to making it possible for anyone, to study anything, anywhere, at any time, for
        free online, at any subject level. Through our mission we are a catalyst for positive social change, creating
        opportunity, prosperity, and equality for everyone</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center our-values-title">
      <h3>
        OUR <span>VALUES</span>
      </h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 text-center">
      <div class="our-values-card p1">
        <img src="assets/image/icon2.png" alt="icon">
        <h5>Empowerment</h5>
        <p>We are driven by our belief in the power of free education and skills training to
          change people’s lives for the better and are passionate about providing an overall
          learning experience that meets their needs and helps them to achieve life goals.</p>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="our-values-card p2">
        <img src="assets/image/icon1.png" alt="icon">
        <h5>Knowledge</h5>
        <p>We are experts in the field of online education and are rigorous in
          delivering high quality learning materials,
          services and experiences that deliver the learning outcomes we have promised.</p>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="our-values-card p3">
        <img src="assets/image/icon4.png" alt="icon">
        <h5>Inclusivity</h5>
        <p>We are inspired by the UN Declaration that “everyone is entitled to a free education”.
          We are committed to equality and access to education irrespective of gender,
          geography, economic status or any other barriers to access.</p>
      </div>
    </div>
    <div class="col-md-3 text-center">
      <div class="our-values-card p4">
        <img src="assets/image/icon3.png" alt="icon">
        <h5>Innovation</h5>
        <p>We will not be constrained by what already exists but will lead the way in
          introducing new ways to achieve our mission. Our DNA is entrepreneurial and we understand
          and embrace the pioneering spirit that motivates other entrepreneurs.</p>
      </div>
    </div>
  </div>
</div>
