<div class="refer-friend-section">
    <div data-src="assets/image/Referafreind.jpg" class="refer-friend-img asyncImage"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sub-topics"><b>How it works</b></div>
                <div>
                    <b>Step 1 : </b>Share the link (below) with your friends, family, or contacts through social media
                    or email <br />
                    <div class="text-center steps-arrow"><i class="fa fa-arrow-down"></i></div>
                    <b>Step 2 : </b>They register on Skillsgrow through your link, and complete a course within 30 days
                    of
                    registering <br />
                    <div class="text-center steps-arrow"><i class="fa fa-arrow-down"></i></div>
                    <b>Step 3 : </b>You and your friends earn rewards like bonus points and can even download a free
                    certificate
                    for every 10 friends referred.
                </div>
                <div>
                    <ul>
                        <li>
                            <div class="social-icons">
                                <share-button button="facebook" url="https://www.facebook.com/skillsgrow/"
                                    theme="circles-dark"></share-button>
                                <share-button button="linkedin" url="https://www.linkedin.com/company/skillsgrow/"
                                    theme="circles-dark"></share-button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>