<div class="container-fluid">
  <div class="row default-margin-top">
    <div class="col-md-3 col-sm-12 content-container">
      <ul>
        <li>
          <h5>About Skillsgrow:</h5>
        </li>
        <li routerLink="/ourstory">Our story</li>
        <li routerLink="/ourteam">Our Team</li>
        <li routerLink="/career">Career</li>
        <li routerLink="/donate">Donate</li>
        <li routerLink="/howSkillsgrowWorks">How Skillsgrow Works</li>
        <!-- <li routerLink="/comingsoon">Blog</li> -->
        <li routerLink="/referFriend">Refer a friend</li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-12 content-container">
      <ul>
        <li>
          <h5>Corporate Training:</h5>
        </li>
        <li routerLink="/services">Services</li>
        <li routerLink="/skillsgrowAPI">Skillsgrow API</li>
        <li routerLink="/prepaidCertification">Pre-Paid certification</li>
        <li routerLink="/bulkpurchasing">Bulk Purchasing</li>
        <li routerLink="/publishSkillsgrow">Publish on skillsgrow</li>
        <li routerLink="/contactEnterpriseTeam">Contact Enterprise Team</li>
      </ul>
    </div>
    <!-- <div class="col-md-2 col-sm-12 content-container">
      <ul>
        <li>
          <h5>Shop:</h5>
        </li>
        <li routerLink="/comingsoon">Certificates</li>
        <li routerLink="/comingsoon">T-Shirts</li>
        <li routerLink="/comingsoon">Payment Options</li>
      </ul>
    </div> -->
    <div class="col-md-3 col-sm-12 content-container">
      <ul>
        <li>
          <h5>Need Help:</h5>
        </li>
        <li routerLink="/faq">FAQ</li>
        <li routerLink="/contactus">Contact us</li>
      </ul>
    </div>
    <div class="col-md-3 col-sm-12 content-container">
      <ul>
        <li>
          <h5>Skillsgrow Learning Centre:</h5>
        </li>
        <li>Bharath University Research Park<br/>
            # 173 Agharam Road, Selaiyur,<br/>
            Chennai - 600 073
            </li>
        <li>
          <i class="fa fa-phone"></i>:+91 98844 04748</li>
        <li>
          <i class="fa fa-envelope"></i>: admin@skillsgrow.com</li>
        <li>
          <i class="fa fa-globe"></i>: www.skillsgrow.com</li>
      </ul>
      <div class="row">
        <div class="col-sm-12 content-container">
          <ul>
            <li>
              <h5>Connect:</h5>
            </li>
            <li>
              <div class="social-icons">
                <a class="social-container fb-icon" href="https://www.facebook.com/skillsgrow/" target="blank">
                  <i class="fa fa-facebook"></i>
                </a>
                <a class="social-container li-icon" href="https://www.linkedin.com/company/skillsgrow/" target="blank">
                  <i class="fa fa-linkedin"></i>
                </a>
                <a class="social-container youtube-icon" href="https://www.youtube.com/channel/UCwdCrIv47M9ygRrvTxblOSw" target="blank">
                  <i class="fa fa-youtube"></i>
                </a>
                <!-- <a class="social-container google-plus-icon" href="https://www.linkedin.com/company/skillsgrow/" target="blank">
                  <i class="fa fa-google-plus"></i>
                </a>
                <a class="social-container instagram-icon" href="https://www.linkedin.com/company/skillsgrow/" target="blank">
                  <i class="fa fa-instagram"></i>
                </a> -->
                <a class="social-container twitter-icon" href="https://www.linkedin.com/company/skillsgrow/" target="blank">
                  <i class="fa fa-twitter"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>