app-course-listing {

    .course-card-layout {
        border: 1px solid #cacaca;
        margin: 5px;

        .course-title {
            font-size: 13px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis
        }
        .course-price {
            font-size: 11px;
            margin-top: 14px;
        }
        button {
            background: #002d38;
            color: white;
            font-size: 13px;
            border-radius: 50px;
        }
    }

    .br-default .br-unit {
        margin-right: 5px;
        font-size: 13px !important;
        height: 18px;
        width: 18px;
    }

    .enroll-new-btn-plus {
        background: #ee5a72;
        color: white;
        border-radius: 20px 4px 4px 20px;
        position: relative;
        left: -37px;
        font-size: 13px;
    }

    .enroll-new-btn {
        background: #002d38;
        color: white;
        padding-right: 44px;
        font-size: 13px;
    }
    
}