<div class="container" style="margin-bottom: 15px;">

  <div *ngIf="internshipCourses.length >= 1" class="row default-margin-top">
    <div class="col-12 text-left custom-h2-h4">
      <h2>Skillsgrow Internship Programs
        <!-- <button class="btn btn-sg pull-right">View More</button> -->
      </h2>
    </div>
    <ng-container *ngFor="let y of internshipCourses;let i = index">
      <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-3 offset-lg-0" 
      *ngIf="y.active == true && y.status == 1">
        <div class="s-card">
          <div class="s-image">
            <img [src]="imagePath + y.imageSmall" alt="img" />
          </div>
          <div class="s-content">
            <div class="s-title">
              {{y.courseName}}
            </div>
            <div class="s-leftrightsection">
              <span style="position: relative; bottom: 10px;" class="s-left">
                <bar-rating [(rate)]="y.ratings" [max]="5" [readOnly]="true"></bar-rating>
              </span>
              <span *ngIf="y.authorDetails[0] != null" style="margin-top: 13px;" class="s-right">
                {{(y.authorDetails[0].coursePrice == 'Free') ? 'Free Course' : y.authorDetails[0].coursePrice}}</span>
              <span *ngIf="y.authorDetails[0].coursePrice != 'Free'" class="fa fa-inr mt-3 ml-1">/-</span>
            </div>
            <div class="s-leftrightsection">
              <span class="s-left"><i class="fa fa-clock-o"></i> {{y.timing}}</span>
              <span *ngIf="y.enrolledUser > 50" class="s-left"><i class="fa fa-users"></i>{{y.enrolledUser}}</span>
            </div>
            <div class="s-button">
              <span class="s-left">
                <button (click)="viewDetailsCourse(y._id)" type="button" class="btn btn-sm">View Detail</button>
              </span>
              <span class="s-right">
                <button type="button" class="btn btn-sm" (click)="enrollNowCourse(y)">
                  {{(y.enrollBtn != false) ? 'Enroll' : 'Continue'}}</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div *ngIf="studentCourses.length >= 1" class="row default-margin-top">
    <div class="col-12 text-left custom-h2-h4">
      <h2>Skillsgrow Training Programs
        <!-- <button class="btn btn-sg pull-right">View More</button> -->
      </h2>
    </div>
    <ng-container *ngFor="let y of studentCourses;let i = index">
      <div class="col-sm-10 offset-sm-1 col-md-6 offset-md-0 col-lg-3 offset-lg-0" 
      *ngIf="y.active == true && y.status == 0">
        <div class="s-card">
          <div class="s-image">
            <img [src]="imagePath + y.imageSmall" alt="img" />
          </div>
          <div class="s-content">
            <div class="s-title">
              {{y.courseName}}
            </div>
            <div class="s-leftrightsection">
              <span style="position: relative; bottom: 10px;" class="s-left">
                <bar-rating [(rate)]="y.ratings" [max]="5" [readOnly]="true"></bar-rating>
              </span>
              <span *ngIf="y.authorDetails[0] != null" style="margin-top: 13px;" class="s-right">{{(y.authorDetails[0].coursePrice
                == 'Free') ? 'Free Course' : y.authorDetails[0].coursePrice}}</span>
              <span *ngIf="y.authorDetails[0].coursePrice != 'Free'" class="fa fa-inr mt-3 ml-1">/-</span>
            </div>
            <div class="s-leftrightsection">
              <span class="s-left"><i class="fa fa-clock-o"></i> {{y.timing}}</span>
              <span *ngIf="y.enrolledUser > 50" class="s-left"><i class="fa fa-users"></i>{{y.enrolledUser}}</span>
            </div>
            <div class="s-button">
              <span class="s-left">
                <button (click)="viewDetailsCourse(y._id)" type="button" class="btn btn-sm">View Detail</button>
              </span>
              <span class="s-right">
                <button type="button" class="btn btn-sm" (click)="enrollNowCourse(y)">
                  {{(y.enrollBtn != false) ? 'Enroll' : 'Continue'}}</button>
              </span>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- <div class="col-3">
      <div class="s-card">
        <div class="s-image">
          <img [src]="'https://placeimg.com/255/160/tech'" alt="img" />
        </div>
        <div class="s-content">
          <div class="s-title">
            Business development
          </div>
          <div class="s-leftrightsection">
            <span class="s-left">
              <bar-rating [(rate)]="rate" [max]="5" [readOnly]="true"></bar-rating>
            </span>
            <span class="s-right">Free Course</span>
          </div>
          <div class="s-leftrightsection">
            <span class="s-left"><i class="fa fa-users"></i> 23 Enrolled</span>
            <span class="s-right"><i class="fa fa-clock-o"></i> 19: 20</span>
          </div>
          <div class="s-button">
            <span class="s-left">
              <button type="button" class="btn btn-sm">View Detail</button>
            </span>
            <span class="s-right">
              <button type="button" class="btn btn-sm">Enroll</button>
            </span>
          </div>
        </div>
      </div>
    </div> -->
  </div>

</div>