<div class="container mb-3 pt-5 pb-5">

  <div *ngIf="popularCourse.length > 0" class="row default-margin-top">
    <div class="col-12 custom-h2-h4" [hidden]="course != 'trendingCourses'">
      <h2>Trending courses
      </h2>
      <div style="position: absolute;right: 0;top: 7px;" routerLink="/allcourses">
          <button class="btn pull-right enroll-new-btn-plus"><i class="fa fa-plus"></i></button>
          <button class="btn pull-right enroll-new-btn">View More </button>
      </div>
    </div>

    <!-- category name -->
    <div class="col-12 custom-h2-h4" [hidden]="!categoryName">
        <h2>{{categoryName}}</h2>
    </div>

    <!-- course card layout -->

    <ng-container *ngFor="let y of popularCourse;let i = index">
      <div class="col-lg-2 col-md-3 col-sm-4 col-12 p-0">
        <div class="course-card-layout mt-2 mb-2">
            <div (click)="viewDetailsCourse(y._id)" title="View Course" style="cursor:pointer;">
                <img class="w-100 border-bottom" [src]="imagePath + y.imageSmall" alt="img" />
            </div>
            <div class="row m-0">
                <div class="col-12 course-title" title="{{y.courseName}}">
                    {{y.courseName}}
                </div>
                <div class="col-8">
                    <bar-rating [(rate)]="y.ratings" [max]="5" [readOnly]="true"></bar-rating>
                </div>
                <div class="col-4 course-price p-0 text-right pr-1">
                    <span *ngIf="y.authorDetails[0] != null">{{(y.authorDetails[0].coursePrice
                        == 'Free') ? 'Free' : y.authorDetails[0].coursePrice}}</span>
                      <span *ngIf="y.authorDetails[0].coursePrice != 'Free'" class="fa fa-inr ml-1">/-</span>
                </div>
                <div class="col-12">
                    <span style="font-size: 12px;"><i class="fa fa-clock-o"></i> {{y.timing}}</span>
                </div>
                <div class="col-12 text-center mt-2 mb-2">
                    <button type="button" class="btn" (click)="enrollNowCourse(y)">
                        {{(y.enrollBtn != false) ? 'Enroll now' : 'Continue'}}</button>
                </div>
            </div>
        </div>
      </div>
    </ng-container>

  </div>
</div>