<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row login-design">
        <div class="col-12 col-md-6 text-center login-content">
          <h3>Looking to hire the best talent?</h3>
          <p class="text-justify">
            Skillsgrow is the industry leader for hiring college students and recent grads.
            Our Screen and Coach program lets you meet only qualified and prepared candidates,
            saving you time and getting you the best hires.
          </p>
        </div>
        <div class="col-12 col-md-6 login-field" *ngIf="loginForm">
          <div *ngIf="alertClass" class="alert alert-danger alert-dismissible">
            <strong>Error!</strong> {{message}}
            <div *ngIf="expired" class="default-margin-top">
              <button routerLink="/resendactivation" class="btn btn-success">Resend Activation link</button>
            </div>
          </div>
          <div *ngIf="sendActiveLink" class="alert alert-warning">
            <strong>You have not activated your account</strong>
            <div style="cursor: pointer;" (click)="resendActivationLink()">Click hear to activate your account via
              email</div>
          </div>
          <div *ngIf="aftersendActiveLink" class="alert alert-{{responseStatus}}">
            <strong>{{message}}</strong>
          </div>
          <div class="text-center">
            <h3>Welcome to Internship Programme</h3>
          </div>
          <form autocomplete="on" #login="ngForm" (ngSubmit)="loginFieldsData(login)">
            <div class="form-group">
              <label>Email Id</label>
              <input type="text" class="form-control" name="email" [(ngModel)]="loginData.email" #email="ngModel"
                pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
              <div *ngIf="email.invalid && email.pattern" class="error-message">Email Required</div>
              <div *ngIf="email.invalid && email.touched" class="error-message">Email ID format is invalid</div>
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" name="password" [(ngModel)]="loginData.password" #password="ngModel"
                required>
              <div *ngIf="password.invalid && password.touched" class="error-message">Field is required</div>
              <br />
              <div class="text-center">
                <a (click)="forgotPassword()">Forgot Password?</a>
              </div>
            </div>
            <div class="text-center">
              <button type="submit" class="btn btn-info btn-block" [disabled]="login.invalid">
                Sign in</button>
              <br />
              <span>New User? </span>
              <a routerLink="/company/company-register">click here </a>
              <span>to register</span>
            </div>
          </form>
        </div>
        <div class="col-12 col-md-6 login-field" *ngIf="forgotPasswordForm">
          <div *ngIf="forgotErrorMessage" class="alert alert-danger">
            <strong>Error!</strong> {{message}}
          </div>
          <div *ngIf="forgotSuccessMessage" class="alert alert-success">
            <strong>Success!</strong> {{message}}
          </div>
          <form style="margin-top: 175px;" #forgotForm="ngForm" (ngSubmit)="submitForgotPwd(forgotForm)">
            <div class="form-group">
              <label>Enter Your Email Id to reset your password</label>
              <input type="text" class="form-control" name="email" #email="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                required placeholder="Enter your register Email Id" [(ngModel)]="forgotPwd">
              <div *ngIf="email.invalid && forgotForm.submitted" class="error-message">Email Required</div>
              <div *ngIf="email.invalid && email.touched" class="error-message">Email ID format is invalid</div>
              <div class="text-center">
                <a (click)="loginPage()">Login Page</a>
              </div>
            </div>
            <div class="text-center">
              <button class="btn btn-info btn-block" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
      <!-- <div class="row login-design" *ngIf="forgotPasswordForm">
              <div class="col-12 col-md-6 text-center login-content">
                  <h3>SKILLSGROW</h3>
                  <p class="text-justify">
                      Skillsgrow.com is an online career skills development company that helps anyone develop their technical, 
                      management, soft skills, marketing, finance,creative, and business skills to achieve their personal and 
                      professional goals. 
                      Choose from over 200 career skills enhancement online courses and internship programs.</p>
              </div>
              <div class="col-12 col-md-6 login-field">
                  <div *ngIf="forgotErrorMessage" class="alert alert-danger">
                      <strong>Error!</strong> {{message}}
                  </div>
                  <div *ngIf="forgotSuccessMessage" class="alert alert-success">
                      <strong>Success!</strong> {{message}}
                  </div>
                  <form style="margin-top: 175px;">
                      <div class="form-group">
                          <label>Enter Your Email Id to reset your password</label>
                          <input type="text" class="form-control" name="resetpassword" placeholder="Enter your register Email Id" [(ngModel)]="forPassword">
                      </div>
                      <div class="text-center">
                          <button class="btn btn-info btn-block" 
                          (click)="resetPassword()">Reset Password</button>
                      </div>
                  </form>
              </div>
          </div> -->
    </div>
  </div>
</div>
