<div class="container-fluid">
  <div class="row mt-5">
    <div class="d-none d-md-none d-lg-block col-lg-4 col-xl-4">
      <div class="row ch-internship-step-space">
        <div class="col-md-4 col-lg-4 col-xl-4">
          <div class="pull-right {{personal ? 'active' : 'inactive'}}">
            <img [hidden]="!personal" src="assets/image/manager.png" alt="">
            <img [hidden]="personal" src="assets/image/manager-color.png" alt="">
          </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xl-8">
          <div class="ch-internship-step-labal">
            <span [hidden]="!personal">Personal Details</span>
          </div>
        </div>
      </div>
      <div class="row ch-internship-step-space">
        <div class="col-md-4 col-lg-4 col-xl-4 text-right">
          <div class="pull-right {{company ? 'active' : 'inactive'}}">
            <img [hidden]="company" src="assets/image/collaboration.png" alt="">
            <img [hidden]="!company" src="assets/image/collaboration-color.png" alt="">
          </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xl-8">
          <div class="ch-internship-step-labal">
            <span [hidden]="!company">Company Details</span>
          </div>
        </div>
      </div>
      <div class="row ch-internship-step-space">
        <div class="col-md-4 col-lg-4 col-xl-4 text-right">
          <div class="pull-right {{internship ? 'active' : 'inactive'}}">
            <img [hidden]="internship" src="assets/image/blank-opened-book-pages.png" alt="">
            <img [hidden]="!internship" src="assets/image/blank-opened-book-color.png" alt="">
          </div>
        </div>
        <div class="col-md-8 col-lg-8 col-xl-8">
          <div class="ch-internship-step-labal">
            <span [hidden]="!internship">Post Internship</span>
          </div>
        </div>
      </div>
    </div>
    <!-- responsive screen wizard -->
    <div class="mb-3 col-10 col-sm-10 col-md-10 mx-auto d-lg-none d-xl-none text-center">
      <div class="row ch-internship-step-space-responsive">
        <div class="col-4 col-sm-4 col-md-4">
          <div class="row text-center">
            <div class="col-12 col-sm-4 col-md-4">
              <div class="{{personal ? 'active' : 'inactive'}}">
                <img [hidden]="!personal" src="assets/image/manager.png" alt="">
                <img [hidden]="personal" src="assets/image/manager-color.png" alt="">
              </div>
            </div>
            <div class="d-none d-sm-block col-sm-8 col-md-8">
              <div class="ch-internship-step-labal">
                <span [hidden]="!personal">Personal Details</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <div class="row text-center">
            <div class="col-12 col-sm-4 col-md-4">
              <div class="{{company ? 'active' : 'inactive'}}">
                <img [hidden]="company" src="assets/image/collaboration.png" alt="">
                <img [hidden]="!company" src="assets/image/collaboration-color.png" alt="">
              </div>
            </div>
            <div class="d-none d-sm-block col-sm-8 col-md-8">
              <div class="ch-internship-step-labal">
                <span [hidden]="!company">Company Details</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-4 col-sm-4 col-md-4">
          <div class="row">
            <div class="col-12 col-sm-4 col-md-4">
              <div class="{{internship ? 'active' : 'inactive'}}">
                <img [hidden]="internship" src="assets/image/blank-opened-book-pages.png" alt="">
                <img [hidden]="!internship" src="assets/image/blank-opened-book-color.png" alt="">
              </div>
            </div>
            <div class="d-none d-sm-block col-sm-8 col-md-8 col-xl-8">
              <div class="ch-internship-step-labal">
                <span [hidden]="!internship">Post Internship</span>
              </div>
            </div>
          </div>
        </div>     
      </div>
      <hr>
    </div>
    <!-- responsive screen wizard end-->
    <div class="col-10 col-sm-10 text-md-center col-md-10 mx-auto col-lg-4 col-xl-4">
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12 text-center">
          <h1 [hidden]="!personal" class="ch-internship-form-head-responsive">Personal Details</h1>
          <h1 [hidden]="!company" class="ch-internship-form-head-responsive">Company Details</h1>
          <h1 [hidden]="!internship" class="ch-internship-form-head-responsive">Hire Internship</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12 text-center">
           <p class="ch-internship-form-head2">
              Please fill the correct information for better service
           </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-12 col-xl-12 text-center">
          <div class="border-with-arrow"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-xl-12">
          <div class="row mt-5 mb-5">
            <form #form="ngForm" name="form" class="w-100" (ngSubmit)="onSubmit(form)">
              <div *ngIf="personal">
                <div class="row">
                  <div class="col-lg-12 col-xl-12 form-group ch-internship-form">
                      <input class="form-control" type="text" name="firstname" #firstname="ngModel"
                      placeholder="First name" [(ngModel)]="formData.firstname" 
                      pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                      <div *ngIf="form.submitted && firstname.errors?.required" class="ch-validation-error">Field Required</div>
                      <div *ngIf="firstname.errors?.pattern" class="ch-validation-error">Please Enter Alphabets Only</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-xl-12 form-group ch-internship-form">
                      <input class="form-control" type="text" name="lastname" #lastname="ngModel"
                      placeholder="Last name" [(ngModel)]="formData.lastname" 
                      pattern="^[a-zA-Z]+(([',. -][a-zA-Z ])?[a-zA-Z]*)*$" required>
                      <div *ngIf="form.submitted && lastname.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                      <div *ngIf="lastname.errors?.pattern" class="ch-validation-error"
                      >Please Enter Alphabets Only</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-xl-12 form-group ch-internship-form">
                      <input class="form-control" type="text" name="email" #email="ngModel"
                      placeholder="Company Email Id" [(ngModel)]="formData.email" 
                      pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                      <div *ngIf="form.submitted && email.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                      <div *ngIf="email.errors?.pattern" class="ch-validation-error">Enter Valid Email ID</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-xl-12 form-group ch-internship-form-mobile">
                      <select class="" name="" id="">
                        <option value="+91">+91</option>
                      </select>
                      <input class="form-control" type="text" name="contact" #contact="ngModel"
                      placeholder="Mobile number" [(ngModel)]="formData.contact" 
                      pattern="[0-9]+$" required>
                      <div *ngIf="form.submitted && contact.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                      <div *ngIf="contact.errors?.pattern" class="ch-validation-error">Invalid Contact number</div>
                  </div>
                </div>
              </div>
              <div *ngIf="company">
                <div class="row">
                  <div class="col-lg-12 col-xl-12 form-group ch-internship-form">
                      <input class="form-control" type="text" name="companyName" #companyName ="ngModel"
                      placeholder="Company Name" [(ngModel)]="formData.companyName" 
                      pattern="^(?![0-9]*$)[a-zA-Z0-9 ]+$" required>
                      <div *ngIf="form.submitted && companyName.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                      <div *ngIf="companyName.errors?.pattern" class="ch-validation-error"
                      >Name can be alphnumeric</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-xl-12 form-group ch-internship-form">
                      <input class="form-control" type="text" name="companyUrl" #companyUrl="ngModel"
                      placeholder="Company Url" [(ngModel)]="formData.companyUrl" 
                      pattern="^((http[s]?|ftp):\/)?\/?([^:\/\s]+)((\/\w+)*\/)([\w\-\.]+[^#?\s]+)(.*)?(#[\w\-]+)?$" 
                      required>
                      <div *ngIf="form.submitted && companyUrl.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                      <div *ngIf="companyUrl.errors?.pattern" 
                      class="ch-validation-error">Enter valid url</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-8 col-xl-8 form-group ch-internship-form">
                      <textarea class="form-control" type="text" name="companyDescription" 
                      row="10" placeholder="Company Description" #companyDescription="ngModel"
                      [(ngModel)]="formData.companyDescription" required></textarea>
                      <div *ngIf="form.submitted && companyDescription.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                  </div>
                  <div class="col-lg-4 col-xl-4 form-group ch-internship-form">
                    <div class="ch-upload-image-logo" (click)="fileClick()">
                      <div>
                        <img src="assets/image/cloud-up-arrow.png" alt="">
                      </div>
                      <span>Upload logo</span>
                    </div>
                    <input id="company_logo" type="file" hidden name="companyLogo" #companyLogo="ngModel"
                      (change)="imageUpload($event)" [(ngModel)]="formData.companyLogo" 
                      accept="image/*" required>
                    <div *ngIf="form.submitted && companyLogo.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                  </div>
                </div>
              </div>
              <div *ngIf="internship">
                <div class="row">
                  <div class="col-lg-6 col-xl-6 form-group ch-internship-form">
                    <input class="form-control" type="text" name="jobRole" #jobRole="ngModel"
                    placeholder="Job Role" [(ngModel)]="formData.jobRole" required>
                    <div *ngIf="form.submitted && jobRole.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                  </div>
                  <div class="col-lg-6 col-xl-6 form-group ch-internship-form">
                    <mat-form-field class="example-full-width" [floatLabel]="'never'">
                      <input matInput [matDatepicker]="dateOfJoining" placeholder="Choose a date"
                      #dateOfJoining="ngModel" [(ngModel)]="formData.dateOfJoining" 
                      name="dateOfJoining" required>
                      <mat-datepicker-toggle matSuffix [for]="dateOfJoining">
                      </mat-datepicker-toggle>
                      <mat-datepicker #dateOfJoining></mat-datepicker>
                    </mat-form-field>
                    <!-- <input class="form-control" type="text" name="dateOfJoining" #dateOfJoining="ngModel"
                    placeholder="Date Of Joining" [(ngModel)]="formData.dateOfJoining" required> -->
                    <div *ngIf="form.submitted && dateOfJoining.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-xl-6 form-group ch-internship-form">
                      <input class="form-control" type="text" name="location" #location="ngModel"
                      placeholder="Location" [(ngModel)]="formData.location" required>
                      <div *ngIf="form.submitted && location.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                  </div>
                  <div class="col-lg-6 col-xl-6 form-group ch-internship-form">
                      <select class="form-control" name="qualification" #qualification="ngModel"
                      [(ngModel)]="formData.qualification" style="height:50px;" required>
                        <option value="0" disabled selected>--Qualification--</option>
                        <option value="BSC">BSC</option>
                        <option value="BCA">BCA</option>
                        <option value="BE">BE</option>
                        <option value="B-TECH">B-TECH</option>
                        <option value="ME">ME</option>
                        <option value="M-TECH">M-TECH</option>
                      </select>
                      <div *ngIf="form.submitted && formData.qualification == 0" 
                      class="ch-validation-error">Field Required</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-xl-6 form-group ch-internship-form">
                      <input class="form-control" type="text" name="salary" #salary="ngModel"
                      placeholder="Salary" [(ngModel)]="formData.salary" required>
                      <div *ngIf="form.submitted && salary.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                  </div>
                  <div class="col-lg-6 col-xl-6 form-group ch-internship-form">
                      <select class="form-control" name="internType" [(ngModel)]="formData.internType" 
                      #internType="ngModel" required style="height:50px;">
                        <option value="0" disabled  selected>--Select intern Type--</option>
                        <option value="Full Time">Full Time</option>
                        <option value="Part Time">Part Time</option>
                      </select>
                      <div *ngIf="form.submitted && formData.internType == 0" 
                      class="ch-validation-error">Field Required</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6 col-xl-6 form-group ch-internship-form">
                    <input class="form-control" type="text" name="contactPersonNo" #contactPersonNo="ngModel"
                    placeholder="Mobile Number" [(ngModel)]="formData.contactPersonNo" 
                    pattern="[0-9]+$" required>
                    <div *ngIf="form.submitted && contactPersonNo.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                      <div *ngIf="form.submitted && contactPersonNo.errors?.pattern" 
                      class="ch-validation-error">Invalid Contact number</div>
                  </div>
                  <div class="col-lg-6 col-xl-6 form-group ch-internship-form">
                    <input class="form-control" type="text" name="contactPersonEmail" 
                    #contactPersonEmail="ngModel"
                    placeholder="Email ID" [(ngModel)]="formData.contactPersonEmail" 
                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                    <div *ngIf="form.submitted && contactPersonEmail.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                      <div *ngIf="form.submitted && contactPersonEmail.errors?.pattern" 
                      class="ch-validation-error">Enter valid Email Id</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-xl-12 form-group ch-internship-form">
                    <select class="form-control" name="category" #category="ngModel"
                    [(ngModel)]="formData.category" required style="height:50px;">
                      <option value="0" disabled>---Select Category---</option>
                      <option [value]="x._id" *ngFor="let x of categorySet">{{ x.categoryName}}</option>
                    </select>
                    <div *ngIf="form.submitted && formData.category == 0" 
                      class="ch-validation-error">Field Required</div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-xl-12 form-group ch-internship-form">
                    <input class="form-control" type="text" name="jobDescription" #jobDescription="ngModel"
                    placeholder="Job Description" [(ngModel)]="formData.jobDescription" required>
                    <div *ngIf="form.submitted && jobDescription.errors?.required" 
                      class="ch-validation-error">Field Required</div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 form-group text-right ch-internship-form">
                  <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-left ch-goback">
                      <button type="button" [hidden]="personal" (click)="goBack()">Go Back </button>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6 text-right ch-save">
                      <button type="submit">Save & Continue </button>  
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-none d-lg-block col-lg-4 col-xl-4 ch-internship-right-img">
      <img src="assets/image/user-image.gif" alt="">
    </div>
  </div>
</div>