<div class="donate-section">
    <div data-src="assets/image/donate.jpg" class="donate-img asyncImage"></div>
    <div class="container">
        <div class="row donate-content">
            <div class="col-12">
                <p>
                    Although SKILLSGROW is set up as a for-profit corporation, we are a social enterprise, a pioneer in
                    making education and skills training more accessible to millions of people in India, as well in
                    developed and other developing countries.
                    Any support provided to us via donation will be exclusively used to promote Skillsgrow among
                    marginalized communities around the world.
                    If you are a learner who simply wants to give back for the free service provided, or you want to
                    assist our expansion around the world, we invite you to support our cause via a financial donation
                </p>
                <div class="sub-topics">
                    <div>
                        <b>DONATE</b><br />
                        Support Skillsgrow in expanding our free skill education mission worldwide.
                    </div>
                    <div>
                        <b>Our Mission</b><br />
                        Everyone has the right to education and that education shall be free.
                    </div>
                    <div>
                        <b>Empowerment</b><br />
                        Through education, everyone has the power to change their lives for the better.
                    </div>
                    <div>
                        <b>Inclusion</b><br />
                        Through free education & skills training, everyone can participate in a better world
                    </div>
                </div>
                <div class="text-center">
                    <button class="btn">Donate Now</button>
                </div>
            </div>
        </div>
    </div>
</div>