<div class="career-section">
    <div data-src="assets/image/career.jpg" class="career-img asyncImage"></div>
    <div class="container">
        <div class="row career-content">
            <div class="col-12">
                <p><b>Current Positions : </b></p>
                <div>
                    <p><b>1. Copywriters:</b></p>
                    <p>Skillsgrow is seeking to employ a small number of professional copywriters. We have a great
                        story to tell, and Word of Mouth has been how Skillsgrow has expanded with so little investment
                        over the past few years. However, how a story is told makes all the difference. We need writers
                        to help us with the clear and crisp narrative of functional pages, to the inspirational words
                        that help convince people how they can indeed improve their lives through self-motivated study.
                        If you would like to be part of the Skillsgrow copywriting team, drop us a line, sharing with
                        us the requirements below, but also share with us samples of your work and tell us about the
                        work you have done that is broadly similar to what you think might be appropriate at
                        Skillsgrow.</p>
                    <p>
                        We have learners in every country worldwide, so many, if not most of our learners do not use
                        English, our main language, as their first language day to day. You would need to write for
                        every reader, not just the native English reader. While we want to have copywriters close to
                        our marketing and technical teams, that can possibly be virtual, it may be the case that
                        experienced writers might be able to be located remotely. Our first preference though is that
                        you can at least come to our Chennai office from time to time to meet the team and understand
                        the breath of what we do and how we do it.
                    </p>
                </div>
                <ul>
                    <li><b>Location :</b> Chennai,India</li>
                    <li><b>Experience :</b> Experienced and Freshers can apply</li>
                    <li><b>Positions Available : </b>1</li>
                    <li><b>Salary :</b> As per the industry standards</li>
                </ul>
                <p class="text-center">
                    <span>Please mail us your resume at <b>careers@skillsgrow.com</b> with the subject line mentioning
                        the
                        position applied for.</span>
                </p>
            </div>
        </div>
    </div>
</div>