<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row login-design" *ngIf="loginForm">
                <div class="col-12 col-md-6 text-center login-content">
                    <h3>ABOUT SKILLSGROW</h3>
                    <p class="text-justify">
                        Skillsgrow.com is an online career skills development company that helps anyone develop their technical, 
                        management, soft skills, marketing, finance,creative, and business skills to achieve their personal and 
                        professional goals. 
                        Choose from over 200 career skills enhancement online courses and internship programs. </p>
                </div>
                <div class="col-12 col-md-6 login-field">
                    <div *ngIf="alertClass" class="alert alert-danger alert-dismissible">
                        <strong>Error!</strong> {{message}}
                        <div *ngIf="expired" class="default-margin-top">
                            <button routerLink="/resendactivation" class="btn btn-success">Resend Activation link</button>
                        </div>
                    </div>
                    <div class="text-center">
                        <h3>Welcome to Skillsgrow</h3>
                    </div>
                    <form autocomplete="on" #login="ngForm" (ngSubmit)="loginFieldsData(login)">
                        <div class="form-group">
                            <label>Email Id</label>
                            <input type="text" class="form-control" name="emailId" 
                            [(ngModel)]="loginData.emailId" #emailId="ngModel" pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                            <div *ngIf="emailId.invalid && emailId.touched" class="error-message">Email ID format is invalid</div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control" name="password" [(ngModel)]="loginData.password" #password="ngModel" required>
                            <div *ngIf="password.invalid && password.touched" class="error-message">Field is required</div>
                            <br/>
                            <div class="text-center">
                                <a (click)="forgotPassword()">Forgot Password?</a>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-block" [disabled]="login.invalid">
                                Sign in</button>
                                <br/>
                            <span>New User? </span>
                            <a routerLink="/register/1">click here </a>
                            <span>to register</span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row login-design" *ngIf="forgotPasswordForm">
                <div class="col-12 col-md-6 text-center login-content">
                    <h3>SKILLSGROW</h3>
                    <p class="text-justify">
                        Skillsgrow.com is an online career skills development company that helps anyone develop their technical, 
                        management, soft skills, marketing, finance,creative, and business skills to achieve their personal and 
                        professional goals. 
                        Choose from over 200 career skills enhancement online courses and internship programs.</p>
                </div>
                <div class="col-12 col-md-6 login-field">
                    <div *ngIf="forgotErrorMessage" class="alert alert-danger">
                        <strong>Error!</strong> {{message}} <a *ngIf="showLink" routerLink="/register/1">Resister
                          Here</a>
                    </div>
                    <div *ngIf="forgotSuccessMessage" class="alert alert-success">
                        <strong>Success!</strong> {{message}}
                    </div>
                    <form style="margin-top: 175px;">
                        <div class="form-group">
                            <label>Enter Your Email Id to reset your password</label>
                            <input type="text" class="form-control" name="resetpassword" placeholder="Enter your register Email Id" [(ngModel)]="forPassword">
                        </div>
                        <div class="text-center">
                            <button class="btn btn-info btn-block" 
                            (click)="resetPassword()">Reset Password</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- login and signup  -->
<div *ngIf="false" class="container">
    <div class="row mt-4 mb-4">
        <div class="col-12">
                <div class="login-wrap">
                        <div class="login-html">
                            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Sign In</label>
                            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
                            <div class="login-form">
                                <div class="sign-in-htm">
                                    <div class="group">
                                        <label for="user" class="label">Username</label>
                                        <input id="user" type="text" class="input">
                                    </div>
                                    <div class="group">
                                        <label for="pass" class="label">Password</label>
                                        <input id="pass" type="password" class="input" data-type="password">
                                    </div>
                                    <div class="group">
                                        <input id="check" type="checkbox" class="check" checked>
                                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                                    </div>
                                    <div class="group">
                                        <input type="submit" class="button" value="Sign In">
                                    </div>
                                    <div class="hr"></div>
                                    <div class="foot-lnk">
                                        <a href="#forgot">Forgot Password?</a>
                                    </div>
                                </div>
                                <div class="sign-up-htm">
                                    <div class="group">
                                        <label for="user" class="label">Username</label>
                                        <input id="user" type="text" class="input">
                                    </div>
                                    <div class="group">
                                        <label for="pass" class="label">Password</label>
                                        <input id="pass" type="password" class="input" data-type="password">
                                    </div>
                                    <div class="group">
                                        <label for="pass" class="label">Repeat Password</label>
                                        <input id="pass" type="password" class="input" data-type="password">
                                    </div>
                                    <div class="group">
                                        <label for="pass" class="label">Email Address</label>
                                        <input id="pass" type="text" class="input">
                                    </div>
                                    <div class="group">
                                        <input type="submit" class="button" value="Sign Up">
                                    </div>
                                    <div class="hr"></div>
                                    <div class="foot-lnk">
                                        <label for="tab-1">Already Member?</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>