<div class="skillsgrow-API-section">
    <div data-src="assets/image/API.jpg" class="skillsgrow-api-img asyncImage"></div>
    <div class="container">
        <div class="row skillsgrow-API-content">
            <div class="col-12">
                <div>
                    <p>
                        A SkillsGrow API connection seamlessly links your website/internal system to the SkillsGrow
                        suite
                        of
                        courses with a single sign on. We can work with you to format reports that facilitate your
                        needs.
                        Connecting your Website to Ours!
                        API - Application Programming Interface integrates the Skillsgrow website to your
                        organisation's
                        website, no need to sign on twice to study one of our many free courses. If you are a HR
                        Manager,
                        Business Owner or a Director this is an innovative way to harness the power of Skillsgrow
                        online
                        learning within your organisation.
                    </p>
                    <p>
                        Globally Skillsgrow allows large organisations and national and state workforce portals to
                        integrate
                        Skillsgrow Free Learning into their web offerings for members and staff. Skillsgrow’s growing
                        portfolio
                        of free online courses is empowering to upskill – individuals, corporations large and small,
                        communities and whole countries.
                        Skillsgrow has a standard API. After connecting a qualified engineer with our API team, it
                        generally
                        takes about two days to get up and running.
                    </p>
                    <p>
                        We have a standard integration cost of $500 for all
                        clients
                        worldwide. If the integration takes longer, further fees may apply for our additional
                        engineering
                        time,
                        but rest assured, it is in our interest to get your learners up and running asap.
                        When someone connects from your site to ours, they become a member of our site also and so
                        will
                        be
                        subject to standard SkillsgrowTerms & Conditions. All information exchanged is permission
                        based,
                        and
                        all learners introduced by you to our platform will be asked to confirm their understanding
                        that
                        they
                        are entering a new website and system. Similarly, all learners will be asked to give us
                        permission
                        to
                        provide back to you information about their learning activity. At all times, we strive to
                        make
                        sure
                        our
                        users are fully aware of the information they are providing and why we gathering it.
                    </p>
                    <p><b>What you get with a Skillsgrow API:</b></p>
                    <p>
                        Daily/Weekly/Monthly report on all learning activity generated by the traffic you send to
                        the
                    </p>
                    <p><b>Skillsgrow Free Learning Platform including the following statistics:</b></p>
                    <ul>
                        <li>Number of Registrations</li>
                        <li>Number of Enrolments</li>
                        <li>Number of Course Completions</li>
                        <li>Number of Successful Graduations</li>
                    </ul>
                    If you have any further question, please contact our Business Enterprise Team on <b>admin@skillsgrow.com</b>
                </div>
            </div>
        </div>
    </div>
</div>