<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row test-details">
        <div class="col-8">
          <b>Subject : </b>{{testData.subTopics}}
        </div>
        <div class="col-4 text-center">
          <b>Time : </b>30mins
        </div>
        <div class="col-md-12">
          <b>Total Questions : </b>{{noOfQuestions}}
        </div>
        <div class="col-md-12">
          <b>Note : </b>Once the test is started, then you can not close the browser. This Produce Fail
          cetificates
        </div>
      </div>
      <div class="row text-center">
        <div class="col-12">
          <div *ngIf="successMessage" class="alert alert-success">
            <strong>Success!</strong> {{message}}
          </div>
          <div *ngIf="infoMessage" class="alert alert-info">
            <strong>Info!</strong> {{message}}
          </div>
        </div>
      </div>
      <div class="row total-questions">
        <ul *ngIf="questionobj.length > 0">
          <ng-container *ngFor="let x of allQuestion; let i = index">
            <!-- <button [ngClass]="{
                                'test-blue':x.attendStatus == 'false',
                                'test-active':selectedItem == i,
                                'test-normal':selectedItem != i,
                                'test-green':x.saveQes == 'true'
                              }" (click)="numberOfQuestions(x, i)" [disabled]="x.disabled">{{i+1}}</button> -->
            <li [ngClass]="{
                                'test-blue':x.attendStatus == 'false',
                                'test-active':selectedItem == i,
                                'test-normal':selectedItem != i,
                                'test-green':x.attendStatus == 'true'
                              }" (click)="numberOfQuestions(x, i)">{{i+1}}</li>
          </ng-container>
        </ul>
      </div>
      <div class="row question" *ngFor="let x of questionobj">
        <div *ngIf="!x.passage" class="col-12">
          <div *ngIf="x.instruction || x.passageTitle" class="alert alert-info">
            <p><b>Title : </b>{{x.passageTitle}}</p>
            <h4>Instruction : </h4>
            <p>{{x.instruction}}</p>
          </div>
          <!-- <div class="mb-5" *ngIf="getExtension(x.imageQuestion.split('.')[1]); else audio">
                        <img [src]="imagePath + x.imageQuestion" alt="imageQuestion">
                    </div>
                    <ng-template #audio>
                        <div>
                            <audio controls>
                                <source [src]="imagePath + x.imageQuestion" type="audio/mpeg">
                            </audio>
                        </div>
                    </ng-template> -->
          <div class="mb-5" *ngIf="getExtension(x) =='image'">
            <img [src]="imagePath + x.imageQuestion" alt="imageQuestion">
          </div>
          <div *ngIf="getExtension(x) =='audio'">
            <audio controls>
              <source [src]="imagePath + x.imageQuestion" type="audio/mpeg">
            </audio>
          </div>
          <!-- <div>{{x.t}}</div>
                    <div>Time Elapsed : {{timeElapsed()}}</div> -->
          <span>{{questionNumber + 1}}. </span>
          <span>{{x.question}}</span>
          <div class="col-12 align-to-left" *ngFor="let y of x.options;let i = index">
            <!-- <span *ngIf="i == 0">A.</span>
            <span *ngIf="i == 1">B.</span>
            <span *ngIf="i == 2">C.</span>
            <span *ngIf="i == 3">D.</span>
            <span *ngIf="i == 4">E.</span> -->
            <span>{{alphArray[i]}}.</span>
            <label class="container-radio">
              <span style="position: relative;top: 5px;">{{y}}</span>
              <input type="radio" [(ngModel)]="questionAnswer" [value]="y" name="radio"
                (change)="answer($event, questionAnswer)">
              <span class="checkmark"></span>
            </label>
          </div>

          <div class="col-12 align-to-left" *ngIf="x.questionStatus == 4">
            <textarea class="form-control border-color noresize" type="text" placeholder="Write your answer"
              name="userWriteAnswer" [(ngModel)]="userAnswer" #userWriteAnswer="ngModel"></textarea>
          </div>

        </div>
        <div *ngIf="errorMessage" class="alert alert-danger default-margin-top">{{message}}</div>
        <div *ngIf="x.passage" class="col-12">
          <div *ngIf="x.instruction || x.passageTitle" class="alert alert-info">
            <p><b>Passage Title : </b>{{x.passageTitle}}</p>
            <h4>Instruction : </h4>
            <p>{{x.instruction}}</p>
          </div>
          <span>{{questionNumber + 1}}. </span>
          <span>{{x.passage}}</span>
          <div class="default-margin-top" *ngFor="let y of x.question; let q = index"><b><span>{{q+1}}.</span>
              {{y.question}}</b>
            <form class="col-12 align-to-left" *ngFor="let z of y.options;let ind = index">
              <!-- <span *ngIf="ind == 0">A.</span>
              <span *ngIf="ind == 1">B.</span>
              <span *ngIf="ind == 2">C.</span>
              <span *ngIf="ind == 3">D.</span>
              <span *ngIf="ind == 4">E.</span>
              <span *ngIf="ind == 5">F.</span>
              <span *ngIf="ind == 6">G.</span>
              <span *ngIf="ind == 7">H.</span> -->
              <span>{{alphArray[ind]}}.</span>
              <label class="container-radio">
                <span style="position: relative;top: 5px;">{{z}}</span>
                <input type="radio" [(ngModel)]="y.userAnswer" [value]="z" name="radio" (change)="answer($event,z)">
                <span class="checkmark"></span>
              </label>
            </form>
          </div>
        </div>
      </div>
      <div *ngIf="questionobj.length > 0" class="row review-and-save-btn">
        <div class="col-12 text-right">
          <button class="btn review-btn" (click)="review('btnClick')">Review Later</button>
          <button class="btn save-btn" (click)="saveAndContinue('btnClick')">Save & Continue</button>
        </div>
      </div>


      <!-- Showing results of all questions -->
      <div class="question" *ngIf="showMark && !writingTypedQes">
        <h2>Results:</h2>
        <div class="form-group align-to-left">
          <b>Right answers: </b><span>{{userScore}}</span>
          <br>
          <b>Wrong answers: </b><span>{{wrongAns}}</span>
        </div>
        <h2>Answers:</h2>
        <div *ngFor="let x of questionWithAnswer;let qIndex = index">

          <div *ngIf="!x.passage && x.questionStatus != '4'">
            <span>{{qIndex + 1}}. </span>
            <span>{{x.question}}</span>
            <div class="col-12 align-to-left" *ngFor="let optn of x.options;let i = index">
              <span>{{alphArray[i]}}.</span>
              <label class="container-radio">
                <span style="position: relative;top: 5px;">{{optn}}
                  <span *ngIf="x.userAnswer == optn && x.userAnswer!= x.answer" style="color:red">&#10008;</span>
                  <span *ngIf="x.answer == optn" style="color:green">&#10004;</span>
                </span>
              </label>
            </div>
          </div>


          <div *ngIf="x.passage && x.questionStatus != '4'">
            <div class="default-margin-top" *ngFor="let queObj of x.question; let q = index"><b><span>{{q+1}}.</span>
                {{queObj.question}}</b>
              <!-- <br> -->
              <div class="col-12 align-to-left" *ngFor="let optn of queObj.options;let ind = index">
                <span>{{alphArray[ind]}}.</span>
                <label class="container-radio">
                  <span style="position: relative;top: 5px;">{{optn}}
                    <span *ngIf="queObj.userAnswer == optn && queObj.userAnswer!=queObj.answer"
                      style="color:red">&#10008;</span>
                    <span *ngIf="queObj.answer == optn" style="color:green">&#10004;</span>
                  </span>
                </label>
              </div>

            </div>
          </div>

          <div *ngIf="x.questionStatus == '4'">
            <span>{{qIndex + 1}}. </span>
            <span>{{x.question}}</span>
            <h5>Your Answer:</h5>
            <p>{{x.userAnswer}}</p>
            <h5>For your Reference:</h5>
            <p>{{x.answer}}</p>
          </div>

        </div>

        

        <!-- <div *ngFor="let qus of questionWithAnswer;let qIndex = index">
          <div class="col-12 align-to-left" *ngFor="let optn of qus.options;let oIndex = index">
            <span>{{alphArray[oIndex]}}</span>
            <label class="container-radio">
              <span style="position: relative;top: 5px;">{{optn}} 
                <span *ngIf="qus.answer == optn" style="color:green">&#10004;</span>
                <span *ngIf="userAnswer == optn" style="color:red">&#10008;</span>
              </span>
            </label>
          </div>
        </div> -->



        <div class="col-6 offset-3 text-center score-card">
          <!-- <div class="col-6 offset-3 text-center score-card"> -->
          <h1>Score Card</h1>
          <div class="form-group">
            <i class="fa fa-trophy fa-4x"></i>{{userScore}}/{{noOfQuestions}}</div>
          <div>
            <button (click)="goToDashboardPage()" class="btn btn-success">Go TO Dashboard Page
              <i class="fa fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>

      <div class="question" *ngIf="showMark && writingTypedQes">
         <h2>Answers:</h2>
         <div *ngFor="let x of questionWithAnswer;let qIndex = index">
           <div *ngIf="x.questionStatus == '4'">
             <span>{{qIndex + 1}}. </span>
             <span>{{x.question}}</span>
             <h5>Your Answer:</h5>
             <p>{{x.userAnswer}}</p>
             <h5>For your Reference:</h5>
             <p>{{x.answer}}</p>
           </div>
         </div>

         <div class="col-6 offset-3 text-center">
             <button (click)="goToDashboardPage()" class="btn btn-success">Go TO Dashboard Page
               <i class="fa fa-arrow-right"></i>
             </button>
         </div>
         
         
      </div>

    </div>
  </div>
</div>
