<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="row test-details">
                <div class="col-8">
                    <b>Subject : </b>{{testData.subTopics}}
                </div>
                <div class="col-4 text-center">
                    <b>Time : </b>30mins
                </div>
                <div class="col-md-12">
                    <b>Total Questions : </b>{{noOfQuestions}}
                </div>
                <div class="col-md-12">
                    <b>Note : </b>Once the test is started, then you can not close the browser. This Produce Fail
                    cetificates
                </div>
            </div>
            <div class="row text-center">
                <div class="col-12">
                    <div *ngIf="successMessage" class="alert alert-success">
                        <strong>Success!</strong> {{message}}
                    </div>
                    <div *ngIf="infoMessage" class="alert alert-info">
                        <strong>Info!</strong> {{message}}
                    </div>
                </div>
            </div>
            <div class="row total-questions">
                <ul *ngIf="questionobj.length > 0">
                    <ng-container *ngFor="let x of allQuestion; let i = index">
                        <li [ngClass]="{
                                'test-blue':x.attendStatus == 'false',
                                'test-active':selectedItem == i,
                                'test-normal':selectedItem != i,
                                'test-green':x.attendStatus == 'true'
                              }"
                            (click)="numberOfQuestions(x, i)">{{i+1}}</li>
                    </ng-container>
                </ul>
            </div>
            <div class="row question" *ngFor="let x of questionobj">
                <div *ngIf="!x.passage" class="col-12">
                    <div *ngIf="x.instruction || x.passageTitle" class="alert alert-info">
                        <p><b>Title : </b>{{x.passageTitle}}</p>
                        <h4>Instruction : </h4>
                        <p>{{x.instruction}}</p>
                    </div>
                    <div class="mb-5" *ngIf="getExtension(x.imageQuestion.split('.')[1]); else audio">
                        <img [src]="imagePath + x.imageQuestion" alt="imageQuestion">
                    </div>
                    <ng-template #audio>
                        <div>
                            <audio controls>
                                <source [src]="imagePath + x.imageQuestion" type="audio/mpeg">
                            </audio>
                        </div>
                    </ng-template>
                    <!-- <div>{{x.t}}</div>
                    <div>Time Elapsed : {{timeElapsed()}}</div> -->
                    <span>{{questionNumber + 1}}. </span>
                    <span>{{x.question}}</span>
                    <div class="col-12 align-to-left" *ngFor="let y of x.options;let i = index">
                        <span *ngIf="i == 0">A.</span>
                        <span *ngIf="i == 1">B.</span>
                        <span *ngIf="i == 2">C.</span>
                        <span *ngIf="i == 3">D.</span>
                        <span *ngIf="i == 4">E.</span>
                        <label class="container-radio">
                            <span style="position: relative;top: 5px;">{{y}}</span>
                            <input type="radio" [(ngModel)]="questionAnswer" [value]="y" name="radio" (change)="answer($event, questionAnswer)">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                </div>
                <div *ngIf="x.passage" class="col-12">
                    <div *ngIf="x.instruction || x.passageTitle" class="alert alert-info">
                        <p><b>Passage Title : </b>{{x.passageTitle}}</p>
                        <h4>Instruction : </h4>
                        <p>{{x.instruction}}</p>
                    </div>
                    <span>{{questionNumber + 1}}. </span>
                    <span>{{x.passage}}</span>
                    <div class="default-margin-top" *ngFor="let y of x.question; let q = index"><b><span>{{q+1}}.</span>
                            {{y.question}}</b>
                        <form class="col-12 align-to-left" *ngFor="let z of y.options;let ind = index">
                            <span *ngIf="ind == 0">A.</span>
                            <span *ngIf="ind == 1">B.</span>
                            <span *ngIf="ind == 2">C.</span>
                            <span *ngIf="ind == 3">D.</span>
                            <span *ngIf="ind == 4">E.</span>
                            <span *ngIf="ind == 5">F.</span>
                            <span *ngIf="ind == 6">G.</span>
                            <span *ngIf="ind == 7">H.</span>
                            <label class="container-radio">
                                <span style="position: relative;top: 5px;">{{z}}</span>
                                <input type="radio" [(ngModel)]="y.userAnswer" [value]="z" name="radio" (change)="answer($event,z)">
                                <span class="checkmark"></span>
                            </label>
                        </form>
                    </div>
                </div>
            </div>
            <div *ngIf="questionobj.length > 0" class="row review-and-save-btn">
                <div class="col-12 text-right">
                    <button class="btn review-btn" (click)="saveAndContinue('btnClick')">Review Later</button>
                    <button class="btn save-btn" (click)="saveAndContinue('btnClick')">Save & Continue</button>
                </div>
            </div>
            <div *ngIf="showMark" class="col-6 offset-3 text-center score-card">
                <h1>Score Card</h1>
                <div class="form-group">
                    <i class="fa fa-trophy fa-4x"></i>{{userScore}}/{{noOfQuestions}}</div>
                <div>
                    <button (click)="goToDashboardPage()" class="btn btn-success">Go TO Dashboard Page
                        <i class="fa fa-arrow-right"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>