<div class="contact-enterprise-team-section">
    <app-modal-popup *ngIf="modalBox" [modalData]="modalData"></app-modal-popup>
    <div data-src="assets/image/enterpriseteam.jpg" class="contact-enterprise-team-img asyncImage"></div>
    <div class="container">
        <div class="row career-content">
            <div class="col-12">
                <p>
                    <b>Develop your in-house talent on latest digital learning trends with self-paced online training
                        programs from Skillsgrow.</b>
                </p>
                <p>
                    Welcome to Skillsgrow. We look forward to discussing how learning online can benefit your
                    organization—maximizing business productivity, promoting personalized development and more.
                    Complete and submit this form, and a representative from our Business Enterprise team will contact
                    you soon.
                </p>
            </div>
            <div class="col-md-6 offset-md-3 col-sm-12 offset-sm-0">
                <form #contactEnterpriseTeamForm="ngForm" autocomplete="off" (ngSubmit)="onSubmit(contactEnterpriseTeamForm)">
                    <div class="form-group text-right">
                            <span class="asterisk">* (Required)</span>
                    </div>
                    <div class="form-group">
                        <label>Name <span class="asterisk">*</span></label>
                        <input class="form-control" placeholder="Name" name="name" [(ngModel)]="enterpriseTeamForm.name"
                        #name="ngModel" required>
                        <div class="error-message" *ngIf="name.touched && name.invalid">Name is required</div>
                    </div>
                    <div class="form-group">
                        <label>Email Id <span class="asterisk">*</span></label>
                        <input class="form-control" placeholder="Email Id" name="emailId" [(ngModel)]="enterpriseTeamForm.emailId"
                        #emailId="ngModel" required>
                        <div class="error-message" *ngIf="emailId.touched && emailId.invalid">Email Id is required</div>
                    </div>
                    <div class="form-group">
                        <label>Company Name <span class="asterisk">*</span></label>
                        <input class="form-control" placeholder="Company Name" name="companyName" [(ngModel)]="enterpriseTeamForm.companyName"
                        #companyName="ngModel" required>
                        <div class="error-message" *ngIf="companyName.touched && companyName.invalid">Company name is required</div>
                    </div>
                    <div class="form-group">
                        <label>Phone Number <span class="asterisk">*</span></label>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select name="phoneNumberCode" [(ngModel)]="enterpriseTeamForm.phoneNumberCode"
                                #phoneNumberCode="ngModel">
                                    <option value="">+91</option>
                                    <option value="+92">+92</option>
                                </select>
                            </div>
                            <input type="text" class="form-control" placeholder="Phone Number" name="phoneNumber" [(ngModel)]="enterpriseTeamForm.phoneNumber"
                            #phoneNumber="ngModel" required>
                            <div class="error-message" *ngIf="phoneNumber.touched && phoneNumber.invalid">Phone number is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Query <span class="asterisk">*</span></label>
                        <textarea class="form-control" placeholder="Query" name="query" [(ngModel)]="enterpriseTeamForm.query"
                        #query="ngModel" required></textarea>
                        <div class="error-message" *ngIf="query.touched && query.invalid">Query is required</div>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit" [disabled]="contactEnterpriseTeamForm.invalid" class="btn">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>