<app-info-bar *ngIf="false"></app-info-bar>

<!-- banner section -->
<ngb-carousel *ngIf="bannerImageSection" class="banner-container" style="outline: none">
  <ng-container *ngFor="let img of listBannerImagesData">
    <ng-container *ngIf="img.status != 1">
      <ng-template ngbSlide>
        <img [src]="imagePath + img.image" alt="Random first slide">
        <div class="background-image-cover"></div>
        <div class="content-on-banner">
          <h3>{{img.imageTitle}}</h3>
          <p>{{img.description}}</p>
          <button routerLink="/register/sign-up" class="btn">Sign Up now</button>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</ngb-carousel>

<div class="container text-center">
  <div class="row default-margin-top">
    <div class="col-md-12 custom-h2-h4">
      <h2>Skillsgrow Internship Programs</h2>
    </div>
  </div>
  <ngu-carousel [inputs]="carouselOne">
    <ngu-item NguCarouselItem *ngFor="let item of courseCategoryName;let odd = odd">
      <div style="padding: 10px;">
          <div class="home-category-section">
              <img [src]="imagePath + item.categoryImg" alt="categoryimg">
              <div class="category-title" [ngClass]="{
                'odd':odd == true,
                'even':odd == false
              }">
              <div>{{item.categoryName}}</div>
                </div>
            </div>
      </div>
    </ngu-item>
    <button NguCarouselPrev class='leftRs'>&lt;</button>
    <button NguCarouselNext class='rightRs'>&gt;</button>
  </ngu-carousel>
</div>

<div class="container text-center">
  <div class="row default-margin-top">
    <div class="col-md-12 custom-h2-h4">
      <h2>Skillsgrow Training Program</h2>
    </div>
  </div>
  <ngu-carousel [inputs]="carouselOne">
    <ngu-item NguCarouselItem *ngFor="let item of courseCategoryName;let odd = odd"
    [routerLink]="['/categorycourse', item._id]">
        <div style="padding: 10px;">
            <div class="home-category-section">
                <img [src]="imagePath + item.categoryImg" alt="categoryimg">
                <div class="category-title" [ngClass]="{
                  'odd':odd == true,
                  'even':odd == false
                }">
                <div>{{item.categoryName}}</div>
                  </div>
              </div>
        </div>
    </ngu-item>
    <button NguCarouselPrev class='leftRs'>&lt;</button>
    <button NguCarouselNext class='rightRs'>&gt;</button>
  </ngu-carousel>
</div>

<app-course-listing [course]="'trendingCourses'"></app-course-listing>