<app-info-bar *ngIf="false"></app-info-bar>
<!-- banner section -->
<ngb-carousel *ngIf="bannerImageSection" class="banner-container" style="outline: none">
  <ng-container *ngFor="let img of listBannerImagesData">
    <ng-container *ngIf="img.status != 1">
      <ng-template ngbSlide>
        <img [hidden]="isImgLoaded" (load)="onLoad()" [src]="imagePath + img.image" alt="Random first slide">
        <div *ngIf="isImgLoaded" class="imageLoader">
          <img src="{{imagePath}}defaultImg.gif" alt="loading" />
        </div>
        <div class="background-image-cover"></div>
        <div class="content-on-banner">
          <h3>{{img.imageTitle}}</h3>
          <p>{{img.description}}</p>
          <!-- <button routerLink="/register/sign-up" class="btn">Sign Up now</button> -->
          <button routerLink="/coursedetailspage/ielts-band-7+-preparation-course" class="btn">Enroll Now</button>
        </div>
      </ng-template>
    </ng-container>
  </ng-container>
</ngb-carousel>

<div class="container text-center">
  <div class="row default-margin-top">
    <div class="col-md-12 custom-h2-h4">
      <h2>Corporate Internship Programs</h2>
    </div>
  </div>
  <ngx-slick class="carousel" #slickModal1="slick-modal" [config]="slideConfig">
    <div ngxSlickItem *ngFor="let item of courseCategoryType; let odd = odd" class="slide">
      <div style="padding: 10px;">
        <div class="home-category-section" (click)="internship(item._id)">
          <img [hidden]="isImgLoaded" (load)="onLoad()" [src]="imagePath + item.categoryImg" alt="categoryimg" width="300px"
            height="150px">
          <img *ngIf="isImgLoaded" src="{{imagePath}}defaultImg.gif" width="300px" height="150px" alt="loading" />
          <div class="category-title" [ngClass]="{
                'odd':odd == true,
                'even':odd == false
              }">
            <div>{{ item.categoryName }}</div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick>
</div>

<div class="container text-center">
  <div class="row default-margin-top">
    <div class="col-md-12 custom-h2-h4">
      <h2>Training Programs</h2>
    </div>
  </div>
  <ngx-slick class="carousel" #slickModal2="slick-modal" [config]="slideConfig">
    <!-- <div ngxSlickItem *ngFor="let item of courseCategoryName; let odd = odd" [routerLink]="['/categorycourse', item._id]" class="slide"> -->
    <div ngxSlickItem *ngFor="let item of courseCategoryName; let odd = odd" [routerLink]="['/categorycourse', item.categoryNameUrl]"
      class="slide">
      <div style="padding: 10px;">
        <div class="home-category-section">
          <!-- <img [src]="imagePath + item.categoryImg" alt="categoryimg" width="300px" height="150px"> -->
          <img [hidden]="isImgLoaded" (load)="onLoad()" [src]="imagePath + item.categoryImg" alt="categoryimg" width="300px"
            height="150px" />
          <img *ngIf="isImgLoaded" src="{{imagePath}}defaultImg.gif" width="300px" height="150px" alt="loading" />
          <div class="category-title" [ngClass]="{ 'odd': odd, 'even': !odd }">
            <div>{{ item.categoryName }}</div>
          </div>
        </div>
      </div>
    </div>
  </ngx-slick>
</div>

<app-course-listing [course]="'trendingCourses'"></app-course-listing>
