<div class="how-skillsgrow-works-section">
    <div data-src="assets/image/Howskillsgrowworks.jpg" class="skillsgrow-works-img asyncImage"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="sub-topics">
                    <div><b>Register your free Skillsgrow account</b></div>
                    <p>You can register your Skillsgrow account either using your email address, or through a social
                        media
                        account. Registering an account is completely free and gives you unlimited access to the
                        Skillsgrow
                        website. Once you’ve registered your account, upload a picture, update your profile and make it
                        public.
                        Your Skillsgrow profile lets you boast about your skills, experience, and Skillsgrow
                        Certification
                        to
                        anyone you need to share it with, including prospective employers, friends and family.</p>
                    <div><b>Find the right course</b></div>
                    <p> Skillsgrow has over 100 job ready courses available, all absolutely free to complete, and new
                        courses
                        are added weekly.</p>
                    <div><b>Get Enrolled</b></div>
                    <p>Once you have found the course or Learning Path you want to study, all you have to do is click
                        on
                        the
                        Login button to enrol and get learning. All Skillsgrow courses are self-paced, so you can study
                        whenever you want, wherever you want. Manage your time, track your learning and see your
                        knowledge
                        grow
                        with our practical learner dashboard.</p>
                    <div><b>Become a Graduate</b></div>
                    <p> You can take or re-take an assessment on Skillsgrow anytime you want, but we require scores of
                        60%
                        or
                        more to pass. Once you have passed all the assessments on your course, you are officially a
                        Skillsgrow
                        graduate!</p>
                    <div><b>Acquire your Certification</b></div>
                    <p>Once you have completed your course, you can purchase your Certificate or Diploma (depending on
                        the
                        type of course or Learning Path you’ve completed) and we will mail it to you. Your Skillsgrow
                        Certification can be included with your CV/Resume to share with potential employers, or just to
                        share
                        your achievement with the world!</p>
                    <div><b>Empowerment</b></div>
                    <p>We believe that through education, everyone has the power to change their lives, and ultimately
                        the
                        world, for the better. Use your new skills and knowledge to improve how you work, to get that
                        new
                        job,
                        promotion or college placement, or to start a new business. Our free learning gives you the
                        freedom
                        to
                        learn and the tools to succeed. So why not Empower Yourself and others today!</p>
                </div>
            </div>
        </div>
    </div>
</div>