<div class="container">
  <div class="row" style="margin-top: 100px;">

    <div class="col-12 text-center">
      <h2 class="font-weight-bold">Intenship</h2>
      <p>Find the internship & and get hired</p>
      <div class="border-with-arrow"></div>
    </div>

    <div class="col-md-4 mb-3">
      <div class="subscribe-email-container pt-2 pb-2 border text-center mb-2">
        <p>Don't miss any chance to get hired</p>
        <form>
          <div class="mb-2 text-center">
            <input type="text" class="text-center" name="email" placeholder="Enter your email id">
          </div>
          <div class="mb-3">
            <button class="btn enroll-new-btn">Subscribe email</button>
            <button class="btn enroll-new-btn-plus"><i class="fa fa-plus"></i></button>
          </div>
        </form>
      </div>

      <div class="filter-internship border p-3">
        <p class="border-bottom mb-2 text-center pb-2"><img src="assets/image/filter.png" class="mr-2">Filter</p>

        <form>
          <div class="form-group filter-custom-select">
            <select name="category" class="form-control">
              <option value="">Category</option>
            </select>
          </div>
          <div class="form-group filter-custom-select">
            <select name="category" class="form-control">
              <option value="">Job type</option>
            </select>
          </div>
          <div class="form-group filter-custom-select">
            <select name="category" class="form-control">
              <option value="">Preferred location</option>
            </select>
          </div>
          <div class="form-group filter-custom-select">
            <select name="category" class="form-control">
              <option value="">Salary</option>
            </select>
          </div>
          <div class="form-group filter-custom-select">
            <select name="category" class="form-control">
              <option value="">Joining date</option>
            </select>
          </div>
          <div class="form-group text-center">
            <button type="reset" class="btn reset-filter-btn mr-2">Reset filter</button>
            <button type="submit" class="btn apply-filter-btn">Apply filter</button>
          </div>
        </form>

      </div>

    </div>

    <div class="col-md-8 mb-3">
      <div class="internship-curriculam mb-2">
        <div><strong>Field sales executive</strong>
          <button class="pull-right">Apply now</button>
        </div>
        <p class="skillsgrow-title">Skillsgrow</p>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout
        </p>
        <div>
          <table class="table">
            <thead>
              <th>Location</th>
              <th>qualification</th>
              <th>salary</th>
              <th>salary</th>
              <th>joining date</th>
            </thead>
            <tbody>
              <tr>
                <td>Chennai</td>
                <td>Any degree</td>
                <td>8,000</td>
                <td>full time</td>
                <td>any time</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="internship-curriculam mb-2">
        <div><strong>Field sales executive</strong>
          <button class="pull-right">Apply now</button>
        </div>
        <p class="skillsgrow-title">Skillsgrow</p>
        <p>
          It is a long established fact that a reader will be distracted by the
          readable content of a page when looking at its layout
        </p>
        <div>
          <table class="table">
            <thead>
              <th>Location</th>
              <th>qualification</th>
              <th>salary</th>
              <th>salary</th>
              <th>joining date</th>
            </thead>
            <tbody>
              <tr>
                <td>Chennai</td>
                <td>Any degree</td>
                <td>8,000</td>
                <td>full time</td>
                <td>any time</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>

  </div>
</div>