<div class="container">
    <div class="row" [hidden]="true">
        <div class="col-12 search-filter">
            <ul>
                <!-- <li>
                    <label>Search Author</label>
                    <input type="text" class="form-control">
                </li> -->
                <li>
                    <label>Search Courses</label>
                    <input type="text" class="form-control">
                </li>
                <li>
                    <label>Ratings</label>
                    <select class="form-control">
                        <option>Low to High</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </li>
                <li>
                    <label>Pricing</label>
                    <select class="form-control">
                        <option>Low to High</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </li>
                <li>
                    <button class="btn">RESET</button>
                </li>
                <li>
                    <button class="btn apply-btn">APPLY</button>
                </li>
            </ul>
        </div>
    </div>
    <app-course-listing [course]="'allCourses'"></app-course-listing>
</div>
