<div class="bulk-purchasing-section">
    <div data-src="assets/image/Bulkpurchasing.jpg" class="bulk-purchasing-img asyncImage"></div>
    <div class="container">
        <div class="row bulk-purchasing-content">
            <div class="col-12">
                Where your organisation is a large volume purchaser of Skillsgrow certification services, we are happy
                to
                arrange a volume discount with your organisation directly.
                Volumes for Certificates must be over 100 Certificates within a one year period. We require an upfront
                percentage payment.
                Skillsgrow API (Application Programming Interface)
                A Skillsgrow API connection seamlessly links your website/internal system to the Skillsgrow suite of
                courses with a single sign on. We can work with you to format reports that facilitate your needs.
                Pre-paid Certification
                We offer you the option to pre-pay in bulk for Skillsgrow certificates for your graduates at a
                discounted
                rate.
                Need more information?
                <p>
                    <b>If you have any further question</b>, please contact our Business Enterprise Team on <b>admin@skillsgrow.com</b>
                </p>
            </div>
        </div>
    </div>
</div>