<div class="container">
    <form class="row deault-margin-top" #resetForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="col-md-6 offset-3 text-center">
            <div *ngIf="successMessage" class="alert alert-success alert-dismissible">
                <strong>Success!</strong> {{message}}
            </div>
            <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible">
                <strong>Error!</strong> {{message}}
            </div>
        </div>
        <div *ngIf="!errorMessage" class="col-4 offset-4">
            <div class="text-center">
                <h2>Reset Password</h2>
            </div>
            <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" name="new" [(ngModel)]="resetFormObj.newPassword" #newPassword="ngModel" required>
                <div class="error-message" *ngIf="newPassword.invalid && newPassword.touched">Password is invalid</div>
            </div>
            <div class="form-group">
                <label>Confirm Password</label>
                <input type="password" class="form-control" name="cpassword" [(ngModel)]="resetFormObj.confirmPassword" #cPassword="ngModel"
                    required>
                <div class="error-message" *ngIf="cPassword.invalid && cPassword.touched">Confirm Password is invalid</div>
            </div>
            <div class="form-group text-right">
                <button class="btn btn-success">Reset Password</button>
            </div>
        </div>
    </form>
</div>