<div class="skillsgrow-services-section">
    <div data-src="assets//image/services.jpg" class="services-img asyncImage"></div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p>
                    SkillsGrow offers a suite of corporate services for organisations and non-profits around the globe
                    that
                    assist in making continuous learning and development both efficient and cost effective.
                    With over 100 job ready courses available 24/7 through our platform, and a corporate-focused suite
                    of
                    services, we now offer a one stop shop solution to any learning organisation.
                </p>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row sub-topics">
                    <h4>SkillsGrow API</h4>
                    <p>A SkillsGrow API connection seamlessly links your website/internal system to the SkillsGrow
                        suite of
                        courses with a single sign on. We can work with you to format reports that facilitate your
                        needs.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row sub-topics">
                    <h4>Pre-paid Certification</h4>
                    <p>We offer you the option to pre-pay in bulk for SkillsGrow certificates for your graduates at a
                        discounted rate.
                    </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row sub-topics">
                    <h4>Bulk Purchase</h4>
                    <p>If your organisation is a significant user of SkillsGrow Learning, and purchases a large volume
                        of
                        certificate, you may be entitled to purchase Digital downloads and Certificates in bulk at a
                        discount</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6">
                <div class="row sub-topics">
                    <h4>Publishing</h4>
                    <p>Publish a course on the SkillsGrow platform. Earn revenue, generate leads, satisfy CPD
                        (Continuous
                        Professional Development) requirements, and share knowledge. Make learning fun and accessible</p>
                </div>
            </div>
        </div>
    </div>
</div>