<!-- Navigation Bar -->
<div class="container-fluid naviagtion-conatiner" id="navbar">
  <div id="header" class="navbar navbar-expand-lg navbar-dark bg-dark row naviagtion-row">
    <div class="col-md-4 col-sm-10 col-10">
      <!-- <img routerLink="/" src="assets/image/logo1.png" alt="logo" class="logo-img"> -->
      <img routerLink="/" src="assets/image/logo_svg.svg" alt="logo" class="logo-img">
      <ng-template #rt let-r="result" let-t="term">
        <!-- <div (click)="searchOption(r._id)">{{r.courseName}}</div> -->
        <div (click)="searchOption(r.courseNameUrl)">{{r.courseName}}</div>
        <ngb-highlight [result]="r.name" [term]="t"></ngb-highlight>
      </ng-template>
      <!-- <div class="text-right animated-search">
                <form>
                    <input 
                    id="typeahead-template" 
                    type="text" 
                    name="search"
                    placeholder="Search Course"
                    class="form-control" 
                    [(ngModel)]="model" 
                    [ngbTypeahead]="search" 
                    [resultTemplate]="rt"
                    [inputFormatter]="formatter" />
                    <i class="fa fa-search" (click)="searchOption(model._id)"></i>
                </form>
            </div> -->
    </div>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()" style="background: black">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="col-md-8 col-sm-12 col-12">
      <div class="collapse navbar-collapse pull-right" [ngClass]="{ 'show': navbarOpen }">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <div class="text-right animated-search">
              <form>
                <input id="typeahead-template" type="text" name="search" placeholder="Search Course" class="form-control"
                  [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" />
                <!-- <i class="fa fa-search" (click)="searchOption(model._id)"></i> -->
                <i class="fa fa-search" (click)="searchOption(model.courseNameUrl)"></i>
              </form>
            </div>
          </li>
          <li class="nav-item" [routerLink]="['/']">Home</li>
          <li class="nav-item" [routerLinkActive]="['active-naviagtion']" [routerLink]="['company/company-login']">Hire
            Interns</li>
          <!-- <li class="nav-item" [routerLinkActive]="['active-naviagtion']" [routerLink]="['contactus']">Contact
                        us</li> -->
          <!-- <li class="nav-item" mat-button [matMenuTriggerFor]="main_menu" [routerLinkActive]="['active-naviagtion']"
            (click)="getCategoryName()">Courses -->
          <li class="nav-item" mat-button [matMenuTriggerFor]="main_menu" [routerLinkActive]="['active-naviagtion']">
            Courses
            <i class="fa fa-angle-down"></i>
          </li>
          <li [hidden]="logoutNavigation" class="nav-item" [routerLinkActive]="['active-naviagtion']" [routerLink]="['login']">Login/Sign
            up</li>
          <li [hidden]="!logoutNavigation" class="nav-item" mat-button [matMenuTriggerFor]="profile_menu">
            <!-- <img src="assets/image/user-icon.png" alt="user-icon" style="width: 28px"> -->
            <img [src]="(userProfilePic) ? imagePath + userProfilePic: 'assets/image/user-icon.png'" alt="user-icon"
              style="width: 28px;height: 28px;border-radius: 50%;">
          </li>
        </ul>
      </div>
    </div>

  </div>

  <!-- course dropdown list -->
  <mat-menu #main_menu="matMenu">
    <ng-container *ngFor="let x of courseCategoryName">
      <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ x.categoryName }}</button>
      <mat-menu #sub_menu="matMenu">
        <!-- <button *ngFor="let y of x.course" mat-menu-item [routerLink]="['coursedetailspage',y._id]">{{
          y.courseName }}</button> -->
        <button *ngFor="let y of x.course" mat-menu-item [routerLink]="['course',y.courseNameUrl]">{{
          y.courseName }}</button>
      </mat-menu>
    </ng-container>
  </mat-menu>

  <!-- dropdown for user profile -->
  <mat-menu #profile_menu="matMenu">
    <button mat-menu-item routerLink="/userdashboard">Dashboard</button>
    <button mat-menu-item routerLink="/profilepage">Profile</button>
    <button mat-menu-item (click)="logout()">logout</button>
  </mat-menu>

</div>
