<!-- Navigation Bar -->
<div class="container-fluid naviagtion-conatiner">
    <div class="navbar navbar-expand-lg navbar-dark bg-dark row naviagtion-row">
        <div class="col-md-6 col-sm-10 col-10">
            <img routerLink="/" src="assets/image/logo1.png" alt="logo">
            <ng-template #rt let-r="result" let-t="term">
                <div (click)="searchOption(r._id)">{{r.courseName}}</div>
            </ng-template>
            <div class="text-right animated-search">
                <form>
                    <input id="typeahead-template" type="text" class="form-control" name="search" [(ngModel)]="model"
                        placeholder="Search Course" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter"
                        (keydown)="keyDownFunction($event, model._id)" />
                    <i class="fa fa-search" (click)="searchOption(model._id)"></i>
                </form>
            </div>
        </div>

        <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>

        <div class="col-md-6 col-sm-2 col-2">
            <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" [routerLinkActive]="['active-naviagtion']" [routerLink]="['/']">Home</li>
                    <li class="nav-item" [routerLinkActive]="['active-naviagtion']">About us</li>
                    <li class="nav-item" [routerLinkActive]="['active-naviagtion']" [routerLink]="['contactus']">Contact us</li>
                    <li class="nav-item" mat-button [matMenuTriggerFor]="main_menu" [routerLinkActive]="['active-naviagtion']" (click)="getCategoryName()">Courses
                        <i class="fa fa-angle-down"></i>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active-naviagtion']" [routerLink]="['login']">Login/Sign up</li>
                </ul>
            </div>
        </div>

    </div>

    <mat-menu #main_menu="matMenu">
        <ng-container *ngFor="let x of courseCategoryName">
            <button mat-menu-item [matMenuTriggerFor]="sub_menu">{{ x.categoryName }}</button>
            <mat-menu #sub_menu="matMenu">
                <button *ngFor="let y of x.course" mat-menu-item [routerLink]="['coursedetailspage',y._id]">{{
                    y.courseName }}</button>
            </mat-menu>
        </ng-container>
    </mat-menu>

</div>